body {
    background-color: red;
    display: flex;
    justify-content: center;
    overflow-y: hidden; 
}



.main {
    position: relative;
    width: 375px;
    height: 667px;
    
    background: #F3F3F3;
}

.menusuperior {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    top: 0px;

    background: #FFFFFF;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
    
    }

    .menusuperior img {
        position: absolute;
        width: 75px;
        height: 53px;
        left: 22px;
        top: 16px;

    }

    .icone {
        position: absolute;
        font-size: 45px;
        left: 309px;
        top: 18px;
        color: black;
    }

    .conteudo {
        padding-top: 106px;
        padding-bottom: 106px;
        width: auto;
        max-height: 456px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow-y: auto;
    }

    .conteudo::-webkit-scrollbar {
        display: none;
      }


    .caixamensagem {
        width: 375px;
        min-height: 40px;
        background: #FFFFFF;
        border-radius: 2px;
        display: flex;
        align-items: center;
        padding: 9px;
        box-sizing: border-box;
        margin-bottom: 4px;
    }

    .caixamensagem.status {
        background: #DCDCDC;
    }

    .caixamensagem p {
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        padding: 9px;
        line-height: 16px;
        color: #000000;
    }

    .negrito {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 16px;
        color: #000000;

    }

    .horario {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        color: #AAAAAA;
    }


    ::placeholder {
        color: black;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        display: flex;
        align-items: center;}

    .escrever {
        
        position: absolute;
        left: 17px;
        top: 22px;
        border: none;
        width: 300px;
        height: 30px;
        font-family: 'Roboto';
        font-style: italic;
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        outline: none;

        
    }

    .plane {
        position: absolute;
        font-size: 28px;
        right: 18px;
        top: 27px;
        color: black;
        
    }

.menuinferior {
    position: absolute;
    width: 375px;
    height: 80px;
    left: 0px;
    bottom: 0px;

    background: #FFFFFF;
    box-shadow: 0px -4px 6px rgba(0, 0, 0, 0.05);
    }

